*{
    box-sizing: border-box;
    transition: all 0.8s ease;
}


body, html {
    margin: 0;
    padding: 0;
    font-size:15px ;
}


body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("/img/imagenFondoChat5.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}


#contenedorUsername{
    width:100% ;
    height:10%; 
    font-size: 25px;
    display: flex;

}




#p_username{
    margin-left: 5px;
}

#contenedor_padre {
    width:100% ;
    height:90%;
    display: flex;
    justify-content: center;
}

#contenedor_chat{
    width:20%;
    height: 90%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}


#listaContactos{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border: solid 0.5px #edece4;
    border-radius: 20px;

}

div.contactos{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #555555;
    height:8% ;
    width: 100%;
    border-bottom: solid 0.5px #edece4;
}

#registrarContacto{
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #9d69bd;
}

#registrarContacto:hover{
    background-color: #edece4;
}

p#nombreContacto {
    text-align: center;
    margin: 0;
    color: #9B66BB;
}

div.contactos:hover{
    background: #989898;
}

#contenedorEncabezadoChat{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nombreContacto{
    color: #9B66BB;
}

#contenedorBackIcon{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 15px;
}


#botonChat{
    margin-left: 10px;
    width: 10%;
    height: 70%;
    background-color: #9a4cca;
    border-radius: 20px;
    border: solid 1px black;  
}

#botonChat:hover {
    background-color: #9d69bd
}

.contenedorMensajes{
    width: 100%;
    height: auto;
    margin-top: 10px;
    overflow-y: auto;
}

.mensaje{

    margin: 0;
    width: auto;
    height: auto;
    color:  #9d69bd;
}

#contenedorFormulario{
    border-radius: 20px;
    width: 20%;
    backdrop-filter:blur(10px) ;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formularioContacto{
    display: flex;
    flex-direction: column;
}

#inputFormularioContacto{
    box-shadow: none;
    font-size:20px ;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    background: transparent;
    border-color: #edece4;
    color: #9d69bd
}

#botonFormlarioContacto{
    box-shadow: none;
    width: auto;
    border-radius: 30px;
    height: auto;
    background-color: #16436c;
    color: #f5efe3;
    border-color: #16436c;
    margin-top: 10px;
}


#contenedorBtnesAñadir{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

#registrarGrupo{
    margin-top: 10px;
    border-radius: 15px;
    background-color: #9d69bd;
}


#registrarGrupo:hover{
    background-color: #edece4;
}


#formularioGrupo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.select{
    width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 25px;
    background: transparent;
    color: #9a4cca;
    text-align: center;
}
.option{
    background-color: transparent;
}

#inputFormularioGrupo{
    box-shadow: none;
    font-size:20px ;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    background: transparent;
    color: #9d69bd;
}

#botonFormlarioGrupo{
    box-shadow: none;
    width: auto;
    border-radius: 30px;
    height: auto;
    background-color: #16436c;
    color: #f5efe3;
    border-color: #16436c;
    margin-top: 10px;
}