*{
    box-sizing: border-box;
    transition: all 0.8s ease;
}

::placeholder, :-moz-placeholder,
::-webkit-input-placeholder{
    color: inherit;
    
}

body, html {
    margin: 0;
    padding: 0;
    font-size:15px ;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/img/imagenMessingerFondo.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}

article#bienvenida_login {

    display: flex;
    flex-direction: column;
    align-items: center;

}

h3{
    margin-bottom: 0;
}


div#contenedor_formulario{
    color: #11426d;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    height: 65%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);  
    border: solid 0.5px #edece4;
    border-radius: 30px;

}

#ttl_iniciarSesion{
    margin-bottom: 0;
    font-size: 25px;
}

form#formulario{
    padding-top: 10%;
    height: 60%;
    width: 100%;
}



div#div_boton{
    margin: 0;
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15%;
}
button{
    box-shadow: none;
    width: 50%;
    border-radius: 30px;
    height: 100%;
    background-color: #16436c;
    color: #f5efe3;
    border-color: #16436c;
}


.usuario {
    margin-top:2% ;
}

.contrasena{
    margin-top: 2%;
}


#usuario{
    margin-bottom: 5%;
}

input {
    box-shadow: none;
    font-size:20px ;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    background: transparent;
    border-color: #edece4;
    color: #11426d;

}

input::placeholder{
    color: #11426d;
}


#div_Registro{
    margin-top: 30px;
    margin-bottom: 10px;
}

#div_Registro p {

    margin:0;

}

