*{
    box-sizing: border-box;
    transition: all 0.8s ease;
}

body, html {
    margin: 0;
    padding: 0;
    font-size:15px ;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/img/imagenMessingerFondo.jpg");
       background-position: center center;
       background-size: cover;
       background-repeat: no-repeat;
       font-family: sans-serif;
       height: 100vh;
       width: 100vw;

}


#contenedor_registro{
    margin-top: 5%;
    color: #11426d;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    height: 65%;
    width: 30%;
    backdrop-filter: blur(10px);  
    border: solid 0.5px #edece4;
    border-radius: 30px;

}

#contenedorP_registro{
    text-align: center;
}

#p_registro{
    margin-bottom: 0;
    font-size: 25px;
}
input {
    box-shadow: none;
    font-size:20px ;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    background: transparent;
    border-color: #edece4;
    color: #11426d;

}

input::placeholder{
    color: #11426d;
}



.div_label {
    margin-top: 5%;
}

.div_input{
    margin-top: 2%;
}

#boton{
    box-shadow: none;
    width: 25%;
    border-radius: 30px;
    height: 100%;
    background-color: #16436c;
    color: #f5efe3;
    border-color: #16436c;
    margin-left: 2%;
}


#contenedor_regresar{
    height: 100%;
    margin-right: 3%;
    display: flex;
    align-items: center;
}
#regresar{
    color: #f5efe3;
    font-style:oblique;
}

#contenedor_abajo{
    height: 10%;
    display: flex;
    justify-content: center;
   margin-top: 10%;
   align-items: end;
}

#formulario {
    width: 100%;
    height: 90%;
}